In [71]:
import pandas as pd
import numpy as np
import os, sys
from datetime import date

pd.set_option("display.max_rows", 100, "display.max_columns", 100)

In [2]:
def p(s):
    print(s)
    
pd.DataFrame.len = pd.Index.len = lambda x: print(len(x))

In [3]:
if os.path.exists('data/data.csv.gz'):
    df = pd.read_csv('data/data.csv.gz', compression='gzip',index_col=0)
elif os.path.exists('../data/data.csv.gz'):
    df = pd.read_csv('../data/data.csv.gz', compression='gzip',index_col=0)
else:
    YEARS = np.arange(1999,date.today().year)
    df = pd.DataFrame()
    for i in YEARS:
        sys.stdout.write(f'{i} \r'); sys.stdout.flush()
        iData = pd.read_csv('https://github.com/guga31bb/nflfastR-data/blob/master/data/' \
                             'play_by_play_' + str(i) + '.csv.gz?raw=True',
                             compression='gzip', low_memory=False)
        df = df.append(iData, sort=True)

    df.reset_index(drop=True, inplace=True)
    df.to_csv('../data/data.csv.gz', compression='gzip')

C:\Users\mrkawa\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (11,12,13,14,15,16,23,24,62,63,79,80,81,93,94,95,100,101,102,132,133,134,135,136,137,138,139,144,145,150,157,158,164,165,166,167,184,204,205,206,207,219,249,250,251,255,257,260,261,262,263,306,310) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [12]:
d = df[df.season==2019].reset_index(drop=True)
if not os.path.exists('../data/2019.csv.gz'):
    d.to_csv('../data/2019.csv.gz', compression='gzip')

In [79]:
d['play_type'].unique()

array([nan, 'kickoff', 'pass', 'run', 'punt', 'no_play', 'extra_point',
       'qb_kneel', 'field_goal', 'qb_spike'], dtype=object)

In [82]:
[col for col in d.columns if colSearch in col]

['assist_tackle_1_player_id',
 'assist_tackle_2_player_id',
 'assist_tackle_3_player_id',
 'assist_tackle_4_player_id',
 'blocked_player_id',
 'drive_inside20',
 'drive_play_id_ended',
 'drive_play_id_started',
 'forced_fumble_player_1_player_id',
 'forced_fumble_player_2_player_id',
 'fumble_recovery_1_player_id',
 'fumble_recovery_2_player_id',
 'fumbled_1_player_id',
 'fumbled_2_player_id',
 'game_id',
 'id',
 'interception_player_id',
 'kicker_player_id',
 'kickoff_inside_twenty',
 'kickoff_returner_player_id',
 'lateral_interception_player_id',
 'lateral_kickoff_returner_player_id',
 'lateral_punt_returner_player_id',
 'lateral_receiver_player_id',
 'lateral_rusher_player_id',
 'lateral_sack_player_id',
 'nfl_api_id',
 'own_kickoff_recovery_player_id',
 'pass_defense_1_player_id',
 'pass_defense_2_player_id',
 'passer_id',
 'passer_player_id',
 'penalty_player_id',
 'play_id',
 'punt_inside_twenty',
 'punt_returner_player_id',
 'punter_player_id',
 'qb_hit_1_player_id',
 'qb_hit_2_player_id',
 'receiver_id',
 'receiver_player_id',
 'rusher_id',
 'rusher_player_id',
 'side_of_field',
 'solo_tackle_1_player_id',
 'solo_tackle_2_player_id',
 'stadium_id',
 'tackle_for_loss_1_player_id',
 'tackle_for_loss_2_player_id']

In [90]:
colSearch = 'season'
d[[col for col in d.columns if colSearch in col]]
# d[[col for col in d.columns if col.startswith(colSearch)]]

       season season_type
0        2019         REG
1        2019         REG
2        2019         REG
3        2019         REG
4        2019         REG
...       ...         ...
48029    2019        POST
48030    2019        POST
48031    2019        POST
48032    2019        POST
48033    2019        POST

[48034 rows x 2 columns]

In [89]:
passer = d.groupby(['passer','game_id']).sum()
rusher = d.groupby(['rusher','game_id']).sum()
receiver = d.groupby(['receiver','game_id']).sum()

for playerType in ['passer','rusher','receiver']:
    seasonTotals = d.groupby(playerType,'season').sum()
    gameTotals = d.groupby([playerType,'game_id']).sum()

ValueError: No axis named season for object type <class 'pandas.core.frame.DataFrame'>

In [88]:
gameTotals[[col for col in gameTotals.columns if 'touchdown' in col]]

                          pass_touchdown  return_touchdown  rush_touchdown  \
passer   game_id
A.Beck   2019_16_DET_DEN             0.0               0.0             0.0
A.Dalton 2019_01_CIN_SEA             2.0               0.0             0.0
         2019_02_SF_CIN              2.0               0.0             0.0
         2019_03_CIN_BUF             1.0               0.0             0.0
         2019_04_CIN_PIT             0.0               0.0             0.0
...                                  ...               ...             ...
T.Taylor 2019_04_LAC_MIA             0.0               0.0             0.0
         2019_14_LAC_JAX             1.0               0.0             0.0
W.Grier  2019_16_CAR_IND             0.0               0.0             0.0
         2019_17_NO_CAR              0.0               1.0             0.0
Z.Pascal 2019_07_HOU_IND             0.0               0.0             0.0

                          touchdown
passer   game_id
A.Beck   2019_16_DET_DEN        0.0
A.Dalton 2019_01_CIN_SEA        2.0
         2019_02_SF_CIN         2.0
         2019_03_CIN_BUF        1.0
         2019_04_CIN_PIT        0.0
...                             ...
T.Taylor 2019_04_LAC_MIA        0.0
         2019_14_LAC_JAX        1.0
W.Grier  2019_16_CAR_IND        0.0
         2019_17_NO_CAR         1.0
Z.Pascal 2019_07_HOU_IND        0.0

[653 rows x 4 columns]